<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Registration Page</title>

    <link rel="stylesheet" type="text/css" href="/Client/css/main.css">
</head>

<body>
    <h1
        style="font-weight: bold; color: #4a06aa; text-align: center; font-style: italic; text-shadow: 2px 2px 4px #999;">
        Tutor Connect 📚 </h1>
    <h1>Student Registration</h1>
    <form id="studentRegistrationForm">
        <div>
            <label for="studentFirstName">First Name:</label>
            <input type="text" id="studentFirstName" name="studentFirstName" required>
        </div>
        <div>
            <label for="studentLastName">Last Name:</label>
            <input type="text" id="studentLastName" name="studentLastName" required>
        </div>
        <div>
            <label for="studentEmail">Email:</label>
            <input type="email" id="studentEmail" name="studentEmail" required>
        </div>
        <div>
            <label for="studentSchool">School Info:</label>
            <textarea id="studentSchool" name="studentSchool" rows="4" required></textarea>
        </div>
        <button type="submit">Register</button>
    </form>

    <p>Already have an account?</p>

    <div id="signInContainer">
        <h1>Sign In</h1>
        <form id="signInForm">
            <label for="signInEmail">Email:</label>
            <input type="email" id="signInEmail" name="signInEmail" required>
            <button type="submit">Sign In</button>
        </form>
    </div>

    <script src="/Client/javascript/studentRegistration.js"></script>
</body>

</html>