<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Study Sessions</title>
</head>

<body>
    <h1
        style="font-weight: bold; color: #4a06aa; text-align: center; font-style: italic; text-shadow: 2px 2px 4px #999;">
        Tutor Connect 📚 </h1>
    <h1 id="studentName">Student Name</h1>
    <div id="studySessionDetails">
        <!-- Display study session details -->
    </div>

    <script src="student.js"></script>
</body>

</html>