<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tutor Page</title>
</head>

<body>
    <h1
        style="font-weight: bold; color: #4a06aa; text-align: center; font-style: italic; text-shadow: 2px 2px 4px #999;">
        Tutor Connect 📚 </h1>
    <div id="tutorDetails">
        <h1 id="tutorName"></h1>
        <h2>Subjects Offered</h2>
        <ul id="subjectsList"></ul>
        <h2>Availability</h2>
        <p id="availability"></p>
        <h2>Delivery Mode</h2>
        <p id="deliveryMode"></p>
    </div>

    <script src="tutorView.js"></script>
</body>

</html>